*{
  margin:0;
}
.App{
  background-color: #fafafa;

}
.app__header{
  
  background: white;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 8px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
