* {
  margin: 0;
}
.App {
  background-color: #fafafa;
}
.app__header {
  display: flex;

  background: white;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 8px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
.app__postsRight {
  margin-left: 20px;
}
.modal__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40px;
  object-fit: contain;
}
.app__signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__textfield {
  padding: 10px;
}
.app__posts {
  display: flex;

  justify-content: center;
  align-items: flex-start;
}
footer {
  display: inline-block;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.app__headerImage {
  padding-top: 7.5px;
}
